body {
    color: #297373;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    text-decoration: underline;
}

.images {
    display: center;
    flex-direction: column;
}

img {
    width: 400px;
    height: 600px;
    margin-bottom: 10px;
    background-color: black;
    opacity: 0;
    animation: fade 5s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}