body {
    background-color: white;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}

header {
    width: 96%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    padding: 1em;
    text-align: center;
    background-color: #429EA6;
    font-size: 18px;
    font-family: "Castoro Titling", sans-serif;
}

nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}

nav a {
    margin-left: 20px;
    color: #ECEBE4;
    text-decoration: none;
    padding: 35px;
    text-align: center;
    font-weight: 1000;
}

nav :hover {
    color: #153B50;
    background-color:#16F4D0;
    text-decoration: underline;
}

:root {
    --primary-color: #CC998D;
    --secondary-color: #429EA6;
    --accent1-color: #16F4D0;
    --accent2-color: #ECEBE4;
    --accent3-color: #153B50;

    --heading-font: 'Castoro Titling', sans-serif;
    --paragraph-font: 'Castoro Titling', 'Bruno Ace SC', serif;

    --headline-color-on-white: #154B50;
    --headline-color-on-color: #ECEBE4;
    --paragraph-color: #154B50;
    --paragraph-color-on-color: black;
    --paragraph-background-color: #429EA6;
    --nav-link-color: #429EA6;
    --nav-background-color: #ECEBE4;
    --nav-hover-link-color: #154B50;
    --nav-hover-background-color: #CC998D;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 22px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Castoro Titling', sans-serif;
    color: #154B50;
}

h2 {
    text-align: left;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: #16F4D0;
}

header {
    color: black;
    background-color: #429EA6;
}

header>h1,
header>h2 {
    color: #ECEBE4;
}

p {
    font-family: 'Castoro Titling', 'Bruno Ace SC', serif;
    color: #154B50;
    padding: 1em;
}

.scenarios {
    margin-top: -35px;
}

.colors {
    width: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.colors th {
    background-color: rgb(203, 200, 200);
    height: 3em;
}

.colors td {
    width: 20%;
    height: 3em;
}

.primary {
    background-color: #CC998D;
}

.secondary {
    background-color: #429EA6;
    color: black;
}

.accent1 {
    background-color: #16F4D0;
}

.accent2 {
    background-color: #ECEBE4;
}

.accent3 {
    background-color: #153B50;
    color: #16F4D0;
}

p.colored {
    background-color: #429EA6;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 8px;
    border: 1px solid #ECEBE4;
    text-align: left;
}

.wireframe {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

#mobileViewPic {
    max-width: 100%;
    height: auto;
}

#largeViewPic {
    max-width: 100%;
    height: auto;
}
