/* "#429EA6"
"#16f4d0z"
"#cc998d"
"#153b50"
"#ecebe4" */


body {
    max-width: 1600px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

.directory-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.banner {
    background-color: #cc998d;
    color: black;
    padding: 2vw;
    text-align: center;
    font-size: 4vw;
}

/* Header */

.content {
    display: flex;
    max-width: 1600px;
    flex-direction: column;
    background-color: #429EA6;
    font-family: "Castoro Titling", serif;
}

header {
    width: 100%;
}

/* Main Header Row */

.row-1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.logo {
    display: flex;
    max-height: 10vh;
    margin: 0 auto;
    padding-top: .5vh;
}

.heading {
    font-size: 1.5vh;
    text-align: center;
    color: #153b50;
    ;
}

/* This is the Social media icons and the navigation */

.cont {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

/* This is the social media icons */

#col1 {
    display: none;
}

.social {
    display: none;
}

.social img {
    height: 3vw;
}

/* This is the navigation menu */

.nav-ul li a.active {
    color: #cc998d;
}

.nav-ul li:first-child {
    display: block;
    color: #153b50;
}

.nav-ul li {
    display: none;
    font-size: 2.5vw;
    margin-right: 6vw;
}

.responsive li {
    display: block;
}

.nav-ul {
    display: block;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
}

.nav-ul a {
    display: block;
    text-align: center;
    color: #153b50;
    padding: 2vw;
}

.nav-ul a:hover {
    color: black;
    background-color: #cc998d;
    text-decoration: underline;
}

/* Date Header Row */
.row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecebe4;
    font-size: 2.5vw;
    height: 3vw;
    padding-top: 2vw;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    max-width: 1600px;
    padding: 3vw;
}

/* Home Page and general CSS */

.placeholder-box-5,
.column2 .placeholder-box-5 {
    display: none;
}

.column1 {
    order: 1;
}

.column2 {
    order: 2;
}

.column3 {
    order: 3;
}

#placeholder {
    flex: 1 0 100px;
    margin: 1.5vw;
}

.placeholder-box-4 {
    position: relative;
    order: 1;
    border: 1px solid #16f4d0;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1vh 2vw #4b4949;
    font-family: "Castoro Titling", serif;
}

.placeholder-box-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vh;
}

.placeholder-box-3 button {
    width: 15vh;
    height: 5vh;
    font-size: 3vh;
    color: #429EA6;
    border-radius: 10px;
    box-shadow: 0 2px 5px #cc998d;
}

.placeholder-box-3 p {
    color: #429EA6;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1vw;
    padding: .5vw;
    font-weight: bold;
}

.overlay1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10vw;
}

.overlay2 {
    display: none;
}

.overlay3 {
    display: none;
}

.hero img {
    max-width: none;
    max-height: none;
}

.placeholder-box-1 {
    order: 2;
    position: relative;
    border: 1px solid #16f4d0;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1vh 2vw #4b4949;
    font-family: "Castoro Titling", serif;
}

.event-center {
    max-width: none;
    max-height: none;
}

.event-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vh;
}

.event-text h2 {
    color: #429EA6;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1vw;
    padding: .5vw;
}

.event-text p {
    color: #429EA6;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1vw;
    padding: .5vw;
    font-weight: bold;
}

.placeholder-box-2 {
    order: 3;
    border: 1px solid #16f4d0;
    box-sizing: border-box;
    background-color: #429EA6;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1vh 2vw #4b4949;
    font-family: "Castoro Titling", serif;
    color: black;
    font-weight: 1000;
    line-height: 1px;
}

.placeholder-box-2 h1 {
    margin-top: 1vw;
    font-size: 3vh;
    text-shadow: 1px 1px 4px #cc998d;
}

.line1 {
    width: 30%;
    height: 2px;
    background-color: #cc998d;
}

.temperature {
    display: flex;
    flex-direction: row;
    gap: .25vw;
}

.placeholder-box-2 p {
    font-size: 1.65vh;
}

.windS {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5vw;
    font-size: 1.65vh;
}

.placeholder-box-2 img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}



.placeholder-box-6 {
    order: 5;
    border: 2px solid #16f4d0;
    box-sizing: border-box;
    height: 800px;
    box-shadow: 0 1vh 2vw #4b4949;
    background-color: #e6e6e6;
    font-family: "Castoro Titling", serif;
}

#inner-box {
    margin: 3vh;
}

.inner-box-1 {
    border: 2px solid #16f4d0;
    box-sizing: border-box;
    color: black;
    background-color: #cc998d;
    height: 230px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-1 {
    line-height: .65;
}

.inner-box-1 h2 {
    font-size: 3.5vh;
    text-decoration: underline;
}

.inner-box-1 h3 {
    font-size: 3.25vh;
}

.inner-box-1 p {
    font-size: 2vh;
}

.inner-box-2 {
    border: 2px solid #16f4d0;
    box-sizing: border-box;
    background-color: #429EA6;
    height: 230px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-2 {
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 1;
}

#spot-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spot-2 img {
    width: 14vw;
    padding-right: 15px;
}

.inner-box-2 h2 {
    font-size: 3.5vh;
    text-decoration: underline;
    margin-top: 1vw;
}

.inner-box-2 p {
    font-family: "Cinzel Decorative family";
    font-size: 2.5vh;
    margin-top: -5px;
}

.inner-box-3 {
    border: 2px solid #16f4d0;
    box-sizing: border-box;
    color: black;
    background-color: #cc998d;
    height: 230px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-3 {
    line-height: 1.5;
}

.inner-box-3 h2 {
    font-size: 4vh;
    text-decoration: underline;
}

.inner-box-3 p {
    font-size: 2vh;
    padding-left: 25px;
    padding-right: 25px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    margin: 1vw 0 auto;
    background-color: #e6e6e6;
    font-family: "Castoro Titling", serif;
}

.main-part {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    line-height: .25;

}

footer .logo {
    display: flex;
    max-height: 90px;
}

.title-main {
    display: block;
}

.title {
    font-size: 2.5vw;
}

.address {
    font-size: 2vh;
    line-height: .5;
}

.map {
    display: none;
}

.contact {
    display: none;
}

#footer {
    display: flex;
    background-color: #429EA6;
    color: #ecebe4;
    padding: 1.5vw;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    max-width: 100%;
}