body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.directory-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.banner {
    background-color: #cc998d;
    color: black;
    padding: 2vw;
    text-align: center;
    font-size: 4vw;
    width: 100%;
}

/* Header */

.content {
    display: flex;
    max-width: 1600px;
    flex-direction: column;
    background-color: #429EA6;
    font-family: "Castoro Titling", serif;
}

header {
    width: 100%;
    max-width: 1600px;
}

/* Main Header Row */

.row-1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.logo img {
    display: flex;
    max-height: 10vh;
    margin: 0 auto;
    padding-top: .5vh;
    width: 200px;
    height: 200px;
}

.heading {
    font-size: 1.5vh;
    text-align: center;
    color: black;
}

/* This is the Social media icons and the navigation */

.cont {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

/* This is the social media icons */

#col1 {
    display: none;
}

.social {
    display: none;
}

.social img {
    height: 3vw;
}

/* This is the navigation menu */

.nav-ul li a.active {
    font-size: 3vh;
    text-decoration: underline;
}

.nav-ul li:first-child {
    display: block;
    color: black;
}

.nav-ul li {
    display: none;
    margin-right: 6vw;
    color: black;
}

.responsive li {
    display: block;
}

.nav-ul {
    display: block;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
}

.nav-ul a {
    display: block;
    text-align: center;
    color: black;
    padding: 2vw;
    text-decoration: none;
}

.nav-ul a:hover {
    color: black;
    background-color: #cc998d;
    text-decoration: underline;
}

/* Date Header Row */
.row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecebe4;
    font-size: 2.5vw;
    height: 3vw;
    padding-top: 2vw;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1600px;
    padding: 30px;
}

.joinUs {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 500px;
    padding: 3vw;
}

main h1 {
    font-size: 5vw;
    color: #153b50;
    text-align: center;
    text-decoration: underline;
}

form fieldset {
    border: 1px solid #429EA6;
    padding: .5rem 2%;
    margin: 2rem 0;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 4vh;
    text-align: center;
}

form legend {
    display: block;
    color: #153b50;
    margin: 0 auto;
    padding: 0 .5rem;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

form label.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    color: black;
    font-size: 15px;
}

form label.top input,
form label.top select {
    display: block;
    margin: 0 auto;
    margin-top: .25vh;
    width: 70vw;
    padding: .75rem;
    border: 1px solid #429ea4;
    color: black;
    border-radius: 4px;
    font-size: 1.25rem;
    max-width: 20rem;
    background-color: white;
    box-shadow: 1px 1px 1px #429ea4;
}

.appInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

#memLevel {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2vh;
    text-align: left;
    padding-left: 10px;
}

.memLabel {
    position: relative;
    padding-left: .5rem;
}

.levelSelect input[type="radio"]:hover {
    cursor: pointer;
}

.levelSelect:hover {
    cursor: pointer;
}

.info-content {
    display: none;
    margin-top: 8px;
    background-color: #429ea4;
    padding: 10px;
    border-radius: 10px;
}

.info-content.expanded {
    display: block;
}

.info-content p {
    margin: 10px;
}

#memLevel .info-content ul {
    list-style: disc;
}

#memLevel .info-content ul li {
    margin-bottom: 8px;
}

.info-link {
    color: #153b50;
    font-weight: bold;
    margin-left: 10px;
}

.info-link:hover {
    cursor: pointer;
    color: #cc998d;
}

#businessInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#businessDescription {
    height: 20vh;
    width: 70vw;
    max-width: 400px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 1px 1px 1px #474646;
    border-radius: 10px;
    background-color: white;
}

.submitBtn {
    color: black;
    padding: .5rem;
    font-size: 1.25rem;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.633);
}

.submitBtn:hover {
    cursor: pointer;
    color: black;
    background-color: #429EA6;
}

.joinColumn2 {
    display: none;
}

/* Discover Page */

main h1 {
    margin-bottom: 30px;
    font-size: 35px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
}

.sidebar {
    display: none;
}

.discover-para {
    background-color: #ecebe4;
    padding: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
}

.discover-boxes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.discover-boxes .discover-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-boxes .discover-img img {
    width: 80%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
}

.placeholder {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    /* Adjust this value to match the aspect ratio of your images */
}

/* directory page */

.main .directory-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    padding: 3vw;
}

#toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    max-width: 150px;
    margin: 0 auto;
    margin-top: 40px;
    color: #226161;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.633);
}

#toggle-button:hover {
    cursor: pointer;
    color: #16f4d0;
    background-color: #429EA6;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #cccee747;
    border: #787887 1px solid;
    box-shadow: #0000008e 0 0 10px;
    max-width: 1200px;
}

.business-card {
    color: white;
    background-color: #429EA6;
    border: #cc998d 3px solid;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 250px;
}

#business-image {
    max-height: 150px;
    width: auto;
    height: auto;
    box-shadow: #000000 0 0 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.business-contact,
.business-address,
.business-phone,
.business-established,
.business-website {
    color: white;
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 1em;
}

.business-website {
    color: white;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 1em;
}

#business-name {
    font-size: 1.25em;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: underline #cc998d;
}

.business-card>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contact-container,
.address-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

.contact-container p,
.address-container p {
    margin: 0;
}

.list-view .business-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 70vw;
    padding: 10px;
}

.list-view #business-image {
    max-height: 100px;
    width: 10vw;
    margin-right: 10px;
}

.list-view .business-contact,
.list-view .business-established {
    display: none;
}

.list-view .business-address,
.list-view .business-phone,
.list-view .business-website {
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 3vw;
}

.list-view #business-name {
    font-size: 3vw;
    margin-bottom: 5px;
}

/* Home Page and general CSS */

.placeholder-box-5,
.column2 .placeholder-box-5 {
    display: none;
}

.column1 {
    order: 1;
}

.column2 {
    order: 2;
}

.column3 {
    order: 3;
}

#placeholder1,
#placeholder2,
#placeholder3,
#placeholder4,
#placeholder5,
#placeholder5b,
#placeholder6 {
    flex: 1 0 100px;
    margin: 1.5vw;
}

.placeholder-box-4 {
    position: relative;
    order: 1;
    border: 1px solid #16f4d0;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1vh 2vw #4b4949;
    font-family: "Castoro Titling", serif;
}

.placeholder-box-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vh;
}

.placeholder-box-3 button {
    width: 15vh;
    height: 5vh;
    font-size: 3vh;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px #cc998d;
}

.placeholder-box-3 p {
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1vw;
    padding: .5vw;
    font-weight: bold;
}

.overlay1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10vw;
}

.overlay2 {
    display: none;
}

.overlay3 {
    display: none;
}

.hero img {
    max-width: none;
    max-height: none;
}

.placeholder-box-1 {
    order: 2;
    position: relative;
    border: 1px solid #16f4d0;
    box-sizing: border-box;
    background-color: #e6e6e6;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1vh 2vw #4b4949;
    font-family: "Castoro Titling", serif;
}

.event-center {
    max-width: none;
    max-height: none;
}

.event-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vh;
}

.event-text h2 {
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1vw;
    padding: .5vw;
}

.event-text p {
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1vw;
    padding: .5vw;
    font-weight: bold;
}

.placeholder-box-2 {
    order: 3;
    border: 1px solid #16f4d0;
    box-sizing: border-box;
    background-color: #429EA6;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1vh 2vw #4b4949;
    font-family: "Castoro Titling", serif;
    color: black;
    font-weight: 1000;
    line-height: 1px;
}

.placeholder-box-2 h1 {
    margin-top: 1vw;
    font-size: 3vh;
    text-shadow: 1px 1px 4px #cc998d;
}

.line1 {
    width: 30%;
    height: 2px;
    background-color: #cc998d;
}

.temperature {
    display: flex;
    flex-direction: row;
    gap: .25vw;
}

.placeholder-box-2 p {
    font-size: 1.65vh;
}

.windS {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5vw;
    font-size: 1.65vh;
}

/* Weather */

.weather-container {
    background-color: #e6e6e6;
    border-radius: 8px;
    border: 1px solid #153b50;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.383);
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#weather {
    margin: 0;
}

#weather h1 {
    font-size: 45px;
    margin-bottom: 15px;
    color: #153b50;
    text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.315);
}

.line1 {
    width: 200px;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.temp-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #cc998d;
    width: 200px;
    margin: 0 auto;
}

.temperature {
    font-size: 24px;
    color: black;
    margin-bottom: 40px;
}

.temperature p {
    margin: 0;
}

#weather-icon img {
    width: 100px;
    height: 100px;
    margin-top: -25px;
}

.humidity {
    margin-top: 30px;
    margin-bottom: 30px;
}

.forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #cc998d;
    width: 200px;
    margin: 0 auto;
}

#forecast-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#forecast-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#forecast-list li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#forecast-list li span {
    margin-right: 10px;
}

#forecast-list li strong {
    font-weight: bold;
}

#weather-provider {
    color: black;
    font-size: 14px;
}

.placeholder-box-2 img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

/* .placeholder-box-6 {
    order: 5;
    border: 2px solid #16f4d0;
    box-sizing: border-box;
    height: 800px;
    box-shadow: 0 1vh 2vw #4b4949;
    background-color: #e6e6e6;
    font-family: "Castoro Titling", serif;
}*/

#inner-box1,
#inner-box2,
#inner-box3 {
    margin: 3vh;
}

#placeholder-box-6 {
    order: 5;
    box-sizing: border-box;
    height: 600px;
    background-color: none;
}

#silver-card-container,
#gold-card-container {
    line-height: 1;
}

.business-contact1 {
    display: none;
}

.inner-box {
    margin: 3vh;
}

#inner-box-1 {
    height: 265px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #226161;
    color: white;
    border: 10px solid rgb(234, 203, 25);
    line-height: .75;
}

.spot-1 {
    line-height: .5;
}

#business-image1 {
    width: 60px;
    height: 60px;
    border-radius: 30%;
}

#business-name1 {
    font-size: 20px;
    text-decoration: underline 5px rgb(234, 203, 25);
}

#inner-box-1 p {
    font-size: 18px;
}

#inner-box-2 {
    height: 265px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: silver 10px solid;
    background-color: #226161;
    color: white;
}

.inner-box-2 {
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 1;
}

#inner-box2 .spot-2 h2 {
    font-size: 20px;
    text-decoration: underline silver 5px;
}

#inner-box-2 p {
    font-family: "Cinzel Decorative family";
    font-size: 18px;
}

/*
.inner-box-1 {
    border: 2px solid #16f4d0;
    box-sizing: border-box;
    color: black;
    background-color: #cc998d;
    height: 230px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-1 {
    line-height: .65;
}

.inner-box-1 h2 {
    font-size: 3.25vh;
    text-decoration: underline;
}

.inner-box-1 h3 {
    font-size: 3.25vh;
}

.inner-box-1 p {
    font-size: 2vh;
}

.inner-box-2 {
    border: 2px solid #16f4d0;
    box-sizing: border-box;
    background-color: #429EA6;
    height: 230px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-2 {
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 1;
}

#spot-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spot-2 img {
    width: 14vw;
    padding-right: 15px;
}

.inner-box-2 h2 {
    font-size: 3.5vh;
    text-decoration: underline;
    margin-top: 1vw;
}

.inner-box-2 p {
    font-family: "Cinzel Decorative family";
    font-size: 2.5vh;
    margin-top: -5px;
} */

.inner-box-3 {
    border: 2px solid #16f4d0;
    box-sizing: border-box;
    color: black;
    background-color: #cc998d;
    height: 230px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-3 {
    line-height: 1.5;
}

.inner-box-3 h2 {
    font-size: 4vh;
    text-decoration: underline;
}

.inner-box-3 p {
    font-size: 2vh;
    padding-left: 25px;
    padding-right: 25px;
}

.banner {
    background-color: #cc998d;
    color: black;
    padding: 2vw;
    text-align: center;
    font-size: 4vw;
    width: 100%;
}

/* Footer */

footer {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    margin: 1vw 0 auto;
    background-color: #e6e6e6;
    font-family: "Castoro Titling", serif;
}

.main-part {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    line-height: .25;

}

footer .logo {
    display: flex;
    max-height: 90px;
}

.title-main {
    display: block;
}

.title {
    font-size: 2.5vw;
}

.address {
    font-size: 2vh;
    line-height: .5;
}

.map {
    display: none;
}

.contact {
    display: none;
}

#footer {
    display: flex;
    background-color: #153b50;
    color: #ecebe4;
    padding: 1.5vw;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    max-width: 100%;
}