body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #b1b4b5;
    color: rgb(111, 13, 13);
    font-family: "IM Fell French Canon SC";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.headerName {
    display: flex;
    align-content: flex-end;
}

header img {
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* navigation menu with hamburger */

.nav-ul li a.active {
    color: rgb(111, 13, 13);
}

.nav-ul li:first-child {
    display: block;
    color: #b1b4b5;
}

.nav-ul li {
    display: none;
    font-size: 2.5vw;
    margin-right: 6vw;
}

.responsive li {
    display: block;
}

.nav-ul {
    display: block;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
}

.nav-ul a {
    display: block;
    text-align: center;
    color: rgb(111, 13, 13);
    padding: 2vw;
    font-size: 1.25rem;
}

.nav-ul a:hover {
    color: white;
    background-color: rgb(111, 13, 13);
    text-decoration: underline;
}

header h1 {
    margin-left: 5vw;
    margin-top: 45px;
}

/* Main content */

main {
    margin-top: 10vh;
}

/* Add these styles for the hero section */

#hero {
    position: relative;
}

#hero img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

main h2 {
    text-align: center;
    font-size: 20px;
}

.line {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: -5px;
    margin-bottom: 25px;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px gray;
}

#sectionOne h3 {
    text-align: center;
    background-color: #b1b4b5;
    font-size: 4vh;
    margin-top: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
}

#sectionOne ul {
    text-align: left;
    list-style: none;
}

#sectionTwo h3 {
    text-align: center;
    background-color: #b1b4b5;
    font-size: 4vh;
    margin-top: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
}

#sectionTwo ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#sectionTwo ul li {
    margin-bottom: 2vh;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

iframe {
    margin-bottom: 20px;
    width: 30vw;
    height: 30vw;
}

footer {
    background-color: #b1b4b5;
    height: 100px;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Lato", "Helvetica", sans-serif;
    color: rgb(111, 13, 13);
    width: 100vw;
}
