body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #b1b4b5;
    color: rgb(111, 13, 13);
    font-family: "IM Fell French Canon SC";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.headerName {
    display: flex;
    align-content: flex-end;
}

header img {
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* navigation menu with hamburger */

.nav-ul li a.active {
    color: rgb(111, 13, 13);
}

.nav-ul li:first-child {
    display: block;
    color: #b1b4b5;
}

.nav-ul li {
    display: none;
    font-size: 2.5vw;
    margin-right: 6vw;
}

.responsive li {
    display: block;
}

.nav-ul {
    display: block;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
}

.nav-ul a {
    display: block;
    text-align: center;
    color: rgb(111, 13, 13);
    padding: 2vw;
    font-size: 1.25rem;
}

.nav-ul a:hover {
    color: #b1b4b5;
    background-color: rgb(111, 13, 13);
    text-decoration: underline;
}

header h1 {
    margin-left: 5vw;
    margin-top: 45px;
}

/* Main content */

main {
    padding: 20px;
    margin-bottom: 100px;
}

.form {
    max-width: 400px;
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 0;
}

label.top {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.rating-value {
    margin-left: 10px;
    font-weight: bold;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

iframe {
    margin-bottom: 20px;
    width: 30vw;
    height: 30vw;
}

footer {
    background-color: #b1b4b5;
    height: 100px;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Lato", "Helvetica", sans-serif;
    color: rgb(111, 13, 13);
    width: 100vw;
}

.card {
    display: none;
}