@media only screen and (min-width: 700px) {

    /* navibar */
    .nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 1vw;
    }

    .nav-ul li:first-child {
        display: none;
    }

    .nav-ul li {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
    }

    .nav-ul a {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: rgb(111, 13, 13);
        padding: 2vh;
        font-size: 1.15rem;
    }

    .nav-ul a:hover {
        color: #b1b4b5;
        background-color: rgb(111, 13, 13);
        text-decoration: underline;
    }

    .headerName {
        justify-content: flex-start;
    }

    /* main */

    main {
        margin-top: 8vh;
    }

    #sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #sectionOne ul {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    #sectionTwo {
        margin-left: 50px;
    }

    #sectionTwo ul {
        padding-right: 10vw;
        padding-left: 10vw;

    }

}
