body {
    font-family: Roboto, helvetica, sans-serif;
}

header {
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    background-color: #b0def1;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 2fr 200px;
    grid-gap: 1.5rem;
}

h2 {
    color: navy;
    text-align: left;
    grid-column: 1/3;
}

h3 {
    margin-bottom: .5rem;
}

section {
    padding: 1rem;
}

.callout {
    color: black;
    background-color: #f4f1f4;
    padding: 1rem;
    border: 1px solid rgb(171, 169, 169);
    grid-column: span 2;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}